@import "tailwindcss";

body,
html,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

@theme {
  --color-primary-300: hsl(1, 100%, 73%);
  --color-primary-400: hsl(349, 100%, 61%);
  --color-primary-500: hsl(349, 100%, 55%);
  --color-secundary: #00af54;
  --font-airbnb:
    Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Nue, sans-serif;
}
